*{
    box-sizing: border-box;
}
body{
    margin:0;
}
h2{
    font-family: Nunito;
}
.navbar{
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
    padding-inline: 24px;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin-inline:auto;
    
    
}